@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");

body {
  margin: 0;
  font-family: -apple-system, "Manjari", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #998edf, #ee8bed);
  color: #312c51;
  scrollbar-color: #312c51 #312c51;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  font-family: "Manjari", monospace;
}

/* App.js */

.sections {
  background-color: rgba(255, 255, 255, 0.168);
  border: 2px solid rgba(255, 255, 255, 0.05);
}

.items {
  background-color: rgba(255, 255, 255, 0.168);
}

.input {
  background-color: transparent;
  color: #312c51;
  border: none;
  outline: none;
}

.btn {
  background-color: #312c51;
  color: rgba(255, 255, 255, 0.905);
  border: none;
  /* padding-top: 10px; */
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.905);
  color: #312c51;
}

#icon-btn {
  width: 30px;
  height: 30px;
  justify-content: center;

  border-radius: 50%;
  display: flex;
}

.quick-actions {
  background-color: #312c51;
  color: rgba(255, 255, 255, 0.905);
  width: 80%;
}

.custom-placeholder::placeholder {
  color: #312c51 !important;
  opacity: 0.5;
}

.no-input-outline {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

::placeholder {
  color: rgba(255, 255, 255, 0.905) !important;
  opacity: 0.7;
}

/* For specific input with class */
.no-input-outline::placeholder {
  color: rgba(255, 255, 255, 0.905) !important;
  opacity: 0.7;
}
